html {
    position: relative;
    min-height: 100%;
}

.navbar-fixed {
    background-color: #313131!important;
}

.footer {
    width: 100%;
    background-color: #313131!important;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    padding-top: 1%;
    width: 100%;
    overflow: hidden;
    color: white;
}